.header-breadcrumb {
  width: 100%;
  background-color: var(--color-bg-white);

  padding: 12px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;

  &__page {
    width: 100px !important;
    height: 22px !important;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 6px;

    &--item {
      display: flex;
      align-items: center;
      gap: 6px;

      div {
        .ant-skeleton-button {
          height: 22px !important;
        }
      }

      p {
        cursor: pointer;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }

  &__label {
    color: var(--color-primary-100);

    span {
      color: var(--color-primary-100);
    }
  }

  &__path {
    color: var(--color-primary);
  }
}
