@use 'fonts';
@use 'theme-colors';

/* ========================================
   CUSTOM COMPONENTS & LAYOUTS
   ======================================== */

.max-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--breakpoint-2xl);
}
