@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.forgot-password-page {
  width: 100%;
  height: 100%;
  @include flex-column;
  justify-content: center;

  &__header {
    margin-bottom: $spacing-6;

    &-title {
      color: white;
    }

    &-desc {
      color: $color-gray-300;
      margin-top: $spacing-2;
    }
  }

  &__form {
    &-label {
      color: white;
      font-weight: $font-weight-medium;
    }

    &-icon {
      color: $color-gray-400;
    }

    &-input {
      border-radius: $border-radius-lg;
    }

    &-submit {
      margin-bottom: $spacing-4;
    }
  }

  &__footer {
    text-align: center;
    margin-top: $spacing-4;

    &-link {
      color: $color-primary-400;
      font-weight: $font-weight-semibold;
      @include transition(color);
      cursor: pointer;

      &:hover {
        color: $color-primary-300;
      }
    }
  }
}
