@use '@/styles/variables' as *;

.app-container {
  overflow-x: hidden;
  max-width: 100%;

  &__loading {
    position: absolute;
    inset: 0;
    z-index: 50;
  }
}

.max-container {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

.break-word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
